HELP.md
target/
/temp/
/bin/
/hs_err_pid*
/tomcat.8080/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### React ###
/frontend/build/
/frontend/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
