/target/
/temp/
/bin/
/tomcat.8080/
.vscode/
.idea
.classpath
.settings
.project
.idea
assignment3.iml
/frontend/build/
/frontend/node_modules/
/src/main/webapp/static/
/src/main/webapp/asset-manifest.json
/src/main/webapp/favicon.ico
/src/main/webapp/index.html
/src/main/webapp/logo.png
/src/main/webapp/manifest.json
/src/main/webapp/service-worker.js
/src/main/webapp/precache*
.vscode/
/hs_err_pid*
